:host {
  padding: 10px;
  margin: 5px;
  display: block;
}
span{
  float: right;
  cursor: pointer;
}

.tag-container{
  max-width: 200px; 
  word-wrap: break-word;
  line-height: 30px;
}

mark.W {
  background-color: green;
}

mark.L {
  background-color: red;
}

mark {
  width: 50px;
  margin-right: 5px;
}

.card {
  max-width: 100%;
}

.on-remove-modal{
  display: flex;
  width: 340px;
  height: 140px;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
}

.on-remove-modal--info{
  width: 100%; 
  text-align: center; 
  padding-bottom: 10px;
}

.on-remove-modal--actions{
  position: absolute; 
  bottom: 0; 
  left: 0;
}