<div class="row">
  <div class="col-sm-11">
    <select [formControl]="conferenceControl">
      <option [value]="''">Any</option>
      <option
        [value]="conference.name"
        *ngFor="let conference of conferences$ | async"
      >
        {{ conference.label }}
      </option>
    </select>
    <select [formControl]="divisionControl">
      <option [value]="''">Any</option>
      <option [value]="division" *ngFor="let division of divisions$ | async">
        {{ division }}
      </option>
    </select>
    <select #teamSelect>
      <option [value]="team.id" *ngFor="let team of teams$ | async">
        {{ team.full_name }}
      </option>
    </select>

    <button class="primary" (click)="trackTeam(teamSelect.value)">
      Track team
    </button>
  </div>
</div>
<div class="row">
  <app-team-stats
    class="col-sm-4"
    *ngFor="let team of nbaService.getTrackedTeams()"
    [team]="team"
  >
  </app-team-stats>
</div>
